@use '../../global/mixins/element-border';
@use '../../global/colors';

.dropdown {
    background-image: url('/images/icons/control/expand_more.svg');
    background-repeat: no-repeat;
    background-position: 100% center;
    position: relative;
    padding-right: 24px;
    cursor: pointer;

    &__menu {
        position: absolute;
        padding: 24px;
        background-color: colors.$white;
        @include element-border.elementBorder;
        display: none;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover {
        .dropdown__menu {
            display: block;
        }
    }
}