@use '../../global/colors';

.category-list {
    &__item {
        text-decoration: none;
        color: colors.$gray600;
        display: block;
        padding: 11px 10px 10px 10px;
        border-radius: 6px;

        &:hover {
            background-color: colors.$blue200;
            color: colors.$dark;
        }
    }
}