@use './src/global/fonts';
@use './src/global/mixins/base-font';
@use './src/global/colors';


* {
    box-sizing: border-box;
}

body {
    @include base-font.baseFont();
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.main {
    background-color: colors.$gray100;
    border-top: 1px solid colors.$gray100;
}