@use '../../global/colors';
@use '../../global/mixins/element-border';

.btn {
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
    border-radius: 6px;
    &-primary {
        background-color: colors.$primary;
        border: none;
        color: colors.$white;

    }
    &-secondary {
        background-color: colors.$white;
        color: colors.$primary;
        @include element-border.elementBorder;
    }
}

.btn-30 {
    font-size: 15px;
    padding: 7px 10px;
}

.btn-40 {
    font-size: 15px;
    padding: 10.5px 16px;
}

.btn-54 {
    font-size: 18px;
    padding: 16px 20px;
}

