@use '../../global/colors';
@use '../../global/mixins/element-border';

.base-panel {
    background-color: colors.$white;
    display: flex;
    flex-wrap: wrap;
    @include element-border.elementBorder
}