@use '../../global/breakpoints';

$columnsCount: 12;

.container {
    max-width: calc(1180px + 24px);
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.container-fluid {
    width: 100%;
    padding: 0 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

    &-align-center {
        align-items: center;
    }
}

@for $i from 1 through $columnsCount {
    .col-#{$i} {
        flex: 0 0 calc($i / $columnsCount * 100%);
        padding: 0 12px;
    }
}

@each $key, $value in breakpoints.$breakpoints {
    @media screen and (min-width: $value) {
        @for $i from 1 through $columnsCount {
            .col-#{$key}-#{$i} {
                flex: 0 0 calc($i / $columnsCount * 100%);
                padding: 0 12px;
            }
        }
    }
}