$dark: #1C1C1C;
$gray800: #606060;
$gray600: #505050;
$gray500: #8B96A5;
$gray400: #BDC4CD;
$gray300: #DEE2E7;
$gray200: #EFF2F4;
$gray100: #F7FAFC;

$blue100: #E3F0FF;
$blue200: #E5F1FF;
$blue500: #55BDC3;
$primary: #0D6EFD;


$green100: #C3FFCB;
$green: #00B517;

$orange100: #FFE5BF;
$orange: #FF9017;

$red: #FA3434;

$white: #FFFFFF;

$overlayBg: rgba(0, 0, 0, .5)