@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/static/Inter-SemiBold.ttf');
}