@use '../../../global/colors';
@use '../../../global/mixins/element-border';
@use '../../../global/mixins/base-font';

.form-control {
    @include element-border.elementBorder();
    @include base-font.baseFont(colors.$dark);
    font-size: 16px;
    display: block;
    padding: 10px;
    outline: none;

    &:focus {
        border: 1px solid colors.$primary;
    }

    &--active {
        border: 1px solid colors.$primary;
    }
}