@use '../../../global/colors';
@use '../../../global/mixins/element-border';
@use './src/global/mixins/base-font';

.form-control {
    @include base-font.baseFont(colors.$dark);
    @include element-border.elementBorder;
    font-size: 16px;
    height: 40px;
    display: block;
    padding: 10px;
}