@use '../../global/colors';


.discount-timer {
    &__items {
        display: flex;
        gap: 6px;
        margin-top: 18px;
    }

    &__item {
        width: 45px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: colors.$gray800;
    }

    &__value {
        color: colors.$white;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
    }

    &__description {
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }
}