@use '../../global/colors';

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &__overlay {
        background-color: colors.$overlayBg;
        height: 100%;
    }

    &__menu {
        height: 100%;
        width: 300px;
        background-color: colors.$white;
        position: fixed;
        left: -300px;
        transition: left .5s;
        padding: 12px;
    }

    &--active {
        opacity: 1;
        visibility: visible;

        .side-nav__menu {
            left: 0;
        }

    }
}